<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.three.memory.mapper.ConcernMapper" >
  <resultMap id="BaseResultMap" type="com.three.memory.domain.Concern" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="byuid" property="byuid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, byuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_concern
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_concern
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.three.memory.domain.Concern" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_concern (uid, byuid)
    values (#{uid,jdbcType=INTEGER}, #{byuid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.three.memory.domain.Concern" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_concern
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="byuid != null" >
        byuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="byuid != null" >
        #{byuid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.three.memory.domain.Concern" >
    update t_concern
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="byuid != null" >
        byuid = #{byuid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.three.memory.domain.Concern" >
    update t_concern
    set uid = #{uid,jdbcType=INTEGER},
      byuid = #{byuid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertAll">
    insert into t_concern (uid, byuid) values
    <foreach collection="list" separator="," item="c">
      (#{c.uid},#{c.byuid})
    </foreach>
  </insert>
  <select id="getFollow" resultType="java.lang.Long">

    SELECT count(c.uid) from t_concern as c where c.byuid = #{_parameter}

  </select>

  <select id="getFollowed" resultType="java.lang.Long">

    SELECT COUNT(c.byuid) from t_concern as c where c.uid = #{_parameter}

  </select>
</mapper>